.small-img-container {
    width: 70px;
    padding: 2px;
}

.small-img {
    width: 100%;
    transform: translate(-1px, -1px);
    cursor: pointer;
}

.small-img:hover {
    border: 1px solid blue;
}